yum:
  lookup:
    pkg: yum
    extra_pkgs:
      - yum-utils
      - yum-metadata-parser
      - yum-plugin-changelog
      - yum-plugin-fastestmirror
      - yum-plugin-keys
  manage_yum_conf: True
  yum_conf:
    main:
      cachedir: /var/cache/yum/$basearch/$releasever
      keepcache: 0
      debuglevel: 2
      logfile: /var/log/yum.log
      exactarch: 1
      obsoletes: 1
      gpgcheck: 1
      plugins: 1
      installonly_limit: 5
      bugtracker_url: http://bugs.centos.org/set_project.php?project_id=23&ref=http://bugs.centos.org/bug_report_page.php?category=yum
      distroverpkg: centos-release
  updateonboot:
    REBOOT_RPMS="kernel kernel-smp"
    OPTIONS="-q"
  cron:
    daily:
      commands:
        update_cmd: default
        update_messages: yes
        download_updates: yes
        apply_updates: no
        random_sleep: 360
      emitters:
        system_name: None
        emit_via: stdio
        output_width: 80
      email:
        email_from: root@localhost
        email_to: root
        email_host: localhost
      groups:
        group_list: None
        group_package_types: mandatory, default
      base:
        debuglevel: -2
        mdpolicy: group:main
    hourly:
      commands:
        update_cmd: default
        update_messages: no
        download_updates: no
        apply_updates: no
        random_sleep: 15
      emitters:
        system_name: None
        emit_via: stdio
        output_width: 80
      email:
        email_from: root@localhost
        email_to: root
        email_host: localhost
      groups:
        group_list: None
        group_package_types: mandatory, default
      base:
        debuglevel: -2
        mdpolicy: group:main
  repo:
    absent:
      example_repo:
    managed:
      ossec:
        name: 'ossec - $basearch'
        mirrorlist: http://updates.atomicorp.com/channels/mirrorlist/atomic/centos-$releasever-$basearch
        gpgcheck: 1
        gpgkey: https://www.atomicorp.com/RPM-GPG-KEY.art.txt https://www.atomicorp.com/RPM-GPG-KEY.atomicorp.txt
        enabled: 1
        includepkgs: ossec*
      google-chrome:
        name: 'google-chrome - $basearch'
        baseurl: 'http://dl.google.com/linux/chrome/rpm/stable/$basearch'
        enabled: 1
        gpgcheck: 1
        gpgkey: https://dl-ssl.google.com/linux/linux_signing_key.pub
        includepkgs: google-chrome*
      brave:
        name: 'brave - $basearch'
        baseurl: https://s3-us-west-2.amazonaws.com/brave-rpm-release/$basearch/
        gpgkey: https://s3-us-west-2.amazonaws.com/brave-rpm-release/keys.asc
        gpgcheck: 1
        enabled: 1
        includepkgs: brave*
      slack:
        name: 'slacktechnologies_slack - $basearch'
        baseurl: https://packagecloud.io/slacktechnologies/slack/fedora/26/$basearch
        gpgcheck: 1
        enabled: 1
        gpgkey: https://packagecloud.io/slacktechnologies/slack/gpgkey
        includepkgs: slack*
