{% import_yaml 'yum/defaults.yaml' as default_settings %}

{% set os_family_map = salt['grains.filter_by']({
    'RedHat': {
      'pkg': 'yum',
      'extra_pkgs': [ 'yum-utils' ],
    },
  }, grain='os', merge=salt['pillar.get']('yum:lookup')) %}

{% set os_map = salt['grains.filter_by']({
    'Fedora': {
      'pkg': 'dnf',
      'extra_pkgs': [ 'dnf-utils', 'dnf-yum', 'dnf-plugins-core' ],
    },
  }, grain='os', merge=os_family_map) %}

{% do default_settings.yum.update(os_map) %}

{% set yum_settings = salt['pillar.get'](
    'yum',
    default=default_settings.yum,
    merge=True
  )
%}
